body{
	background-image: url(https://www.xmple.com/wallpaper/linear-green-highlight-blue-gradient-1920x1080-c2-b0e0e6-90ee90-l-33-a-150-f-21.svg);
	background-size: cover;
}
.prod{
	margin: 10px;
	padding: 20px;
}