body{
	background-image: url(https://www.xmple.com/wallpaper/linear-green-highlight-blue-gradient-1920x1080-c2-b0e0e6-90ee90-l-33-a-150-f-21.svg);
	background-size: cover;
}
.sign{
	font-weight: bold;
	margin: 10px;
	padding: 10px;
	border: 2px solid black;
	width: 25%;
	text-align: center;
	margin-left: 35%;
	margin-top: 15%;
	background-color: rgba(102, 180, 180, 0.5);

}
h2{
	text-align: center;
	margin: 10px;
	padding: 10px;
	border: 2px solid black;
	width: 15%;
	margin-left: 35%;
}
.log{
	font-weight: bold;
	margin: 10px;
	padding: 10px;
	border: 2px solid black;
	width: 25%;
	text-align: center;
	margin-left: 35%;
	margin-top: 15%;
	background-color: rgba(102, 180, 180, 0.5);
